:root {
    --chat-background: rgba(15, 15, 15, 0.3);
    --chat-shadow: rgb(2, 4, 24);
    --chat-border: rgba(15, 15, 15, 0.5);
    --chat-border-hover: rgba(255, 0, 238, 0.5)
}

#event-widget {
    right: 10px;
}

#event-widget .reference-div {
    height: 67px;
    width: 350px;
    
    border: 2px solid var(--chat-border);
    background: var(--chat-background);
    border-radius: 10px;

    backdrop-filter: blur(6px);
    box-shadow: -3px 3px 5px var(--chat-shadow);
}

#event-widget .reference-div:hover {
    border: 2px solid var(--chat-border-hover);
}

#event-widget iframe {
    height: 67px;
    width: 350px;
    padding-left: 10px;
    position: absolute;
    transition: 1s linear;
}

#event-widget #front-div-event {
    width: 420px;
    height: 67px;
    position: absolute;
}
