:root {
    --webcam-border: rgba(15, 15, 15, 0.5);
    --webcam-border-hover: rgba(255, 0, 238, 0.5);
    --webcam-shadow: rgb(2, 4, 24);
    --buttom-background: rgba(15, 15, 15, 1);
    --buttom-font: #fff;
    --hidebutton-border: black;
    --hidebutton-border-hover: rgba(255, 0, 238, 0.5);
}

#webcam-container {
    box-shadow: 0px 5px 15px var(--chat-shadow);
    border-radius: 50%;

    transition: 0.5s linear;
}

#webcam-container.no-video {
    opacity: 0;
    transition: 0.5s linear;
}

#webcam-container.inverted {
    transform: rotateY(180deg);
}

#webcam {
    border-radius: 50%;
    
    background: var(--buttom-background);
    border: 2px solid var(--webcam-border);

    transition: 0.5s linear;
}

#webcam:hover {
    border: 2px solid var(--webcam-border-hover);
}

#webcam-button-container {
    min-width: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.webcam-button {
    padding: 5px;

    background: var(--buttom-background);
    color: var(--buttom-font);
    border: 1px solid var(--chat-border);
    border-radius: 5px;

    opacity: 0;
}

.ajust-button {
    width: 40px;
}

#webcam-widget:hover .webcam-button {
    opacity: 1;
}

.webcam-button {
    border: 2px solid var(--webcam-border);
}

.webcam-button:hover {
    border: 2px solid var(--hidebutton-border-hover);
}

/*======================================================================================*/
/*RESOLUTIONS ==========================================================================*/
/*======================================================================================*/

.r150 {
    width: 150px;
	height: 150px;
}

.r200 {
    width: 200px;
	height: 200px;
}

.r250 {
    width: 250px;
	height: 250px;
}

.r300 {
    width: 300px;
	height: 300px;
}

.r350 {
    width: 350px;
	height: 350px;
}

.r400 {
    width: 400px;
	height: 400px;
}

.r450 {
    width: 450px;
	height: 450px;
}

.r500 {
    width: 500px;
	height: 500px;
}